@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Nerko+One&family=Rubik+Distressed&family=Rubik+Glitch&display=swap');

body{
    background-image: url("./img/pexels-rajesh-tp-1603901.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: white;
    text-align: center;
    font-size: xx-large;
    background-color: black;
    font-family: 'Rubik Distressed', cursive;
}
button{
    width: 100px;
    height: 50px;
    border-radius: 40px;
    background-color: brown;
    color: rgb(251, 251, 251);
    font-style: italic;
    font-family: 'Marck Script', cursive;
    position: absolute;
    right: 10%;
    bottom: 7%;
    font-size: larger;

}
button:hover{
    background-color: antiquewhite; 
    color: black;  
}
.parentbo{
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
}
.chld{
    width: 290px;
    height: 400px;
    background-color: black;
    border-radius: 10%;
    box-shadow: 3px 4px hotpink;
    position: relative;
    text-align: center;
    padding: 20px;
}
img{
    width: 100%;
    height: 45%;
    border-radius:10%;
    
} 
h2{
    color: red;
    text-align: center;
    font-family: 'Rubik Glitch', cursive;

}
p{
    color: rgb(238, 161, 199);
    text-align: center;
    font-size: large;
    font-family: 'Rubik Glitch', cursive;
}
